/* Aqui definimos um reset em css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*                  *** Fonte extraida do google-fonts ***

        CSS para fonte extraida do google fonts.

    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/

/*      Aqui aplicamos um tamanho de fonte de 62.5% para que possamos trabalhar com 
    a unidade de medida REM.
*/
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*                  *** BODY ***
        No body também aplicamos algumas configurações padrão como a fonte que extraimos do google,
    a cor dos textos que foi definida nas variáveis globais e também tamanho da fonte.
*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem; /* Tamanho relativo a 16px, utilizando o rem como unidade de medida. */
    color: var(--primary-color);/* Aqui utilizamos a variável primary-color para definir a cor do body. */
    line-height: 1.5; /* Alinhamento entre as palavras do texto */
}

/*                  *** Titulos *** 

        Para os titulos aplicamos a fonte montserrat que também foi extraída do google-fonts.
*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

/*                  *** Tamanho das fontes dos titulos *** 

        Para o h's aplicamos os seguintes padrões.
    Notamos que para cada titulo aplicamos um tamanho de fonte diferente, diminuindo de tamanho 
    do h1 ao h6.

*/
h1{
    font-size: 6rem;
    text-transform: uppercase; /* Aplica letras maiusculas ao texto */
}

h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

/*                  *** Ajuste tag a ***

        Aqui já deixamos todas as tags a com text decoration none.
 */
a {
    text-decoration: none;
}

/*                  *** Ajuste do parágrafo***

*/
p {
    margin-bottom: 3rem;
}

/*                  ***Ajuste da table***

*/

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, 
table th {
    /*                  *** white-space: nowrap; ***
    
            Propriedade que evita a quebra de texto nas linhas da tabela. 
        Porém devemos estar atentos que em situações onde o texto é muito longo não haverá 
        quebra de linha, o que pode deixar o conteúdo de uma maneira estranha.
        Uma maneira de amenisar esse resultado é utilizando br's.
    */
    white-space: nowrap; 
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}

tfoot td,
table th{
    background-color: var(--light-gray-color);
}